<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-2 ms-3">
        <a href="<%= user_path(@user) %>" class="link-body-emphasis"><h3><i class="bi bi-chevron-left"></i></h3></a>
      </div>
      <div class="col-8 text-center">
      <h3><%= @user.name %></h3>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-4">
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">Followings  <span class="badge bg-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">Followers  <span class="badge bg-secondary"><%= @count_followers %></span></a></li>
    </ul>
    <%= render 'users', users: @followings %>
  </div>
</div>