<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size:500 }) %>" alt="">
      </div>
    </div>
    <%= render 'relationships/follow_button', user: @user %>
    <div class="row text-center">
      <div class="col-6 mt-4 border-end border-dark"><a href="<%= followings_user_path(@user) %>" class="link-body-emphasis"> Followings  <span class="badge bg-secondary"><%= @count_followings %></span></a></div>
      <div class="col-6 mt-4"><a href="<%= followers_user_path(@user) %>" class="link-body-emphasis"> Followers <span class="badge bg-secondary"><%= @count_followers %></span></a></div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Posts <span class="badge bg-secondary"><%= @count_posts %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">Likes <span class="badge bg-secondary"><%= @count_likes %></span></a></li>
    </ul>
    <%= render 'posts/posts', posts: @likes %>
  </div>
</div>