<% if posts.any? %>
  <ul class="list-unstyled mt-2">
    <% posts.each do |post| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(post.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to post.user.name, user_path(post.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= post.created_at %></span>
          </div>
          <div>
            <p><%= post.content %></p>
          </div>
          <div class="row align-items-center">
            <div class="col-auto p-0">
              <% if current_user.liking?(post) %>
                <%= form_with(model: current_user.favorites.find_by(post_id: post.id), method: :delete) do |f| %>
                  <%= hidden_field_tag :post_id, post.id %>
                  <%= button_tag type: 'submit', class: 'btn text-danger fs-5' do %>
                    <i class="bi bi-heart-fill"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_with(model: current_user.favorites.build) do |f| %>
                  <%= hidden_field_tag :post_id, post.id %>
                  <%= button_tag type: 'submit', class: 'btn text-danger fs-5' do %>
                    <i class="bi bi-heart"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-auto p-0">
              <% if current_user == post.user %>
                <%= button_to "Delete", post, method: :delete, data: { turbo_confirm: "You sure?" }, class: 'btn btn-secondary btn-sm' %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>